<% content_for :left do %>
  <h2>Following:</h2>
  <table>
    <tr><th>Name</th></tr>
    <%= will_paginate @users_following, :param_name => :users_following_page %>
    <% for @each_users_following in @users_following %>
      <tr>
        <td class="first-column">
          <%= link_to "#{@each_users_following.name}", @each_users_following %>
        </td>
        <td class="second-column">
          <%= button_to("Unfollow", { :controller => "relationships", :action => "destroy",
                                      :id => @user.id, :followed_id => @each_users_following.id },
                                      :method => :delete) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% content_for :center do %>
  <h2>Followed by:</h2>
  <table>
    <tr><th>Name</th></tr>
    <%= will_paginate @users_followers, :param_name => :users_followers_page %>
    <% for @each_users_followers in @users_followers %>
      <tr>
        <td class="first-column"><%= link_to "#{@each_users_followers.name}", @each_users_followers %></td>
        <td class="second-column"></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% content_for :right do %>
  <h2>Not following:</h2>
  <table>
    <tr><th>Name</th></tr>
    <%= will_paginate @users_not_following, :param_name => :users_not_following_page %>
    <% for @each_users_not_following in @users_not_following %>
      <% if @each_users_not_following.id != @user.id then %>
        <tr>
          <td class="first-column">
            <%= link_to "#{@each_users_not_following.name}", @each_users_not_following %>
          </td>
          <td class="second-column">
            <%= button_to("Follow", { :controller => "relationships", :action => "create",
                                      :id => @user.id, :followed_id => @each_users_not_following.id }) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>

